.header {
	font-family: arial,helvetica,verdana;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	text-decoration: none;
	color: #1d4f9e;
}
	
.subheader {
	font-family: arial,helvetica,verdana;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	color: #1d4f9e;
}

	
.normal {
	font-family: arial,helvetica,verdana;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
	color: #3f3f3f;
}


.normalBold {
	font-family: arial,helvetica,verdana;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
	font-weight: bold;
	color: #3f3f3f;
}

.normalBlue {
	font-family: arial,helvetica,verdana;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
	color: #1d4f9e;
}


a:link {
	font-family: arial,helvetica,verdana;
	text-decoration: underline;
	
}
.date-days:link {
	font-family: arial,helvetica,verdana;
	text-decoration: none ! important;
	
}

a:active {
	font-family: arial,helvetica,verdana;
	text-decoration: underline;
	color: #1d4f9e;
}

a:visited {
	font-family: arial,helvetica,verdana;
	text-decoration: underline;
	
}

a:hover {
	font-family: arial,helvetica,verdana;
	text-decoration: underline;
	color: #1d4f9e;
}

.nav {
	font-family: arial,helvetica,verdana;
	font-size: 14px;
	text-decoration: none;
	color: #1d4f9e;
}

.nav a {
	font-family: arial,helvetica,verdana;
	font-size: 14px;
	text-decoration: none;
	color: #1d4f9e;
}

.nav a:link {
	font-family: arial,helvetica,verdana;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

.nav a:active {
	font-family: arial,helvetica,verdana;
	font-size: 14px;
	text-decoration: underline;
	color: #1d4f9e;
}

.nav a:visited {
	font-family: arial,helvetica,verdana;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

.nav a:hover {
	font-family: arial,helvetica,verdana;
	font-size: 14px;
	text-decoration: underline;
	color: #1d4f9e;
}


.small {
	font-family: arial,helvetica,verdana;
	font-size: 10px;
	text-decoration: none;
	color: #1d4f9e;
}

.small a {
	font-family: arial,helvetica,verdana;
	font-size: 10px;
	text-decoration: underline;
	color: #1d4f9e;
}

.small a:link {
	font-family: arial,helvetica,verdana;
	font-size: 10px;
	text-decoration: underline;
	color: #1d4f9e;
}

.small a:active {
	font-family: arial,helvetica,verdana;
	font-size: 10px;
	text-decoration: underline;
	color: #1d4f9e;
}

.small a:visited {
	font-family: arial,helvetica,verdana;
	font-size: 10px;
	text-decoration: underline;
	color: #1d4f9e;
}

.small a:hover {
	font-family: arial,helvetica,verdana;
	font-size: 10px;
	text-decoration: underline;
	color: #1d4f9e;
}

.dropdown {
    position: relative;
    display: inline-block;
	z-index: 1000;
}






.footers
{
	background-image: url('../images/footer_bg.png');
	background-repeat: repeat-x;
	height:86px;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.footerimg
{
	background-image: url('../images/ref_footer_bg.png');
	background-repeat:repeat-x;
	padding:28px 0px 25px 0px;
	line-height: 24px;
	max-width:100%;
	text-align:center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.header_tickets{
	font-weight: bold;
    font-size: 16px;
}
.header_open{
	font-weight: bold;
    
}
.header_date{
	font-weight: bold;
    font-size: 16px;
	
}
.box-border{
	width: 80%;
    height: 4%;
    margin: 0px 0px 0px 40px;
	border: 1px solid #eeeeee !important;
}
.empname, .week-day, .days_hours{ border: 1px solid black; border-collapse: collapse;}
.week-day, .days_hours { padding: 5px;text-align:center;}
.week-month{background-color: #eaf1dd;}
.emp-name{background-color: #d8d8d8;}
.ename{ width: 93.666667% !important;}
.editempid{border-collapse: collapse;text-align:center;background-color: #8db4e3;}
.reimsempid{border-collapse: collapse;background-color: #8db4e3;border-bottom:1px solid;}
.appempid{border-collapse: collapse;text-align:center;background-color: #488bbf; color:#fff;}
.editempsid{ border-collapse: collapse;text-align: center; background-color: #8db4e3;border-bottom: 1px solid;}
.editfileds{background-color: #c5d9f1;}
.emp-id{color: #00208a;font-size: 19px;margin: 0 0 0px !important;}
.cname{color: #1f497d;}
.day-selected{background-color: yellow;}
.week{background-color:#07468b;color:#fff;font-size:16px;}
.days{color: #337ab7;}
.com-name{font-size: 20pt;}
.pre{float:left;}
.nxt{float:right;}
.red{color:#ff0000;}
.fmenu{font-size:13px !important; font-weight:normal;}
.red-tooltip + .tooltip > .tooltip-inner {background-color: #013368;}
.outer-border
{	
border-top-left-radius: 29px;
border-top-right-radius: 27px;
border-right:1px solid #ccc;
border-left:1px solid #ccc;
}

.navbar-nav
{
	float:left !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-default {
    background-color: #b5b2b2 !important;
    border-color: #e7e7e7;
    color: #fff !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #21649e;
    background-color: #337ab7 !important;
}

.dropdown-menu>li>a:hover {
      background-color: #4389c4 !important;
}
.dropdown-menu>li>a {
      color: #fff !important;
	  background-color:#707070 !important;
}


.dropdown-menu {
  
    background-color: #707070 !important;
  
}

.navbar {
    border-radius: 0px !important;
	margin-bottom:0 !important;
}
.panel
{
	font-size:12px !important;
	margin-bottom: 10px !important;
    background-color: #f8f8f8 ! important;
    border: 2px solid #033d52 ! important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 25px;
}
.panel-default>.panel-heading {
    color: #fff ! important ;
    background-color: #4086c2 ! important;
    border-color: #4086c2 ! important;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
	font-weight: bold;
	
  }
}
@media (min-width: 768px) {
  .form-horizontal .control-labels {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
	font-weight: bold;
	width:19%;
	
  }
  .form-horizontal  .hours-lable {
    text-align: right;
    margin-bottom: 0;
    padding-top: 30px;
	font-weight: bold;
	width:19%;
	
  }
 
.col-sm-7 {
    width: 55.333333% !important;
}
}

table>tbody>tr>th.tableheader
{
border-right:1px solid #000;
border-bottom: 1px solid #000;
text-align:center;
vertical-align: middle;
}
table>tbody>tr>th.tableaction
{
border-bottom: 1px solid #000;
text-align:center;
}
.table{
	margin-bottom:0 !important;
}
.tables {
    max-width: 97% !important;
	}
.table-edit>tbody>tr>td, .table-edit>tbody>tr>th, .table-edit>tfoot>tr>td, .table-edit>tfoot>tr>th, .table-edit>thead>tr>td, .table-edit>thead>tr>th 
{
	padding:2px !important;
}
.table-hours>tbody>tr>td, .table-edit>tbody>tr>th, .table-edit>tfoot>tr>td, .table-edit>tfoot>tr>th, .table-edit>thead>tr>td, .table-edit>thead>tr>th 
{
	padding:1px !important;
}
.table-week>tbody>tr>th{
	padding:5px !important;
}
}
.reims td div
{
	text-align: right !important;
	width: 80px;
}
.drop-box:focus {background-color: #cbeefa !important;}
.update_ticket{margin-bottom: 25px;}
label.error{color:#FF0000;padding:10px 0 0 0;}
.error{color:#FF0000;padding:10px 0 0 0;}
#hours-error{color:#FF0000 !important;}
.col-md-3 { width: 22% !important;}
.dates { border-radius: 0px !important;width:62px !important;padding:4px !important;}
label.col-sm-4.control-labels.hours-top {margin-top: 22px;}
#msg{text-align:center;}
.msg{text-align:center;}
.total{background-color:#c2d69a;font-weight:bold;}
.ticketOuter
{background-color:#d8d8d8!important; border:2px solid #000 !important; width:97.5%; float:left; margin:0 10px 20px 10px !important; margin-bottom:20px;padding-top:16px;}
.fLeft{float:left;width:33%;}
.fRight{float:right;width:33%; text-align:right;}
.fCenter{float:left; width:33%;}
.ticketOuter label{margin-bottom:0 !important;}
.tixket-txtArea{ border:2px solid #000 !important; font-weight:bold; background-color:#fff !important; height:80px; width: 100%;}
.rplytext{font-weight:normal !important;}
.last-run{ font-size: 17px;padding: 10px;}
.table-edit{width: 100%;max-width: 99% !important; border: 1px solid #000 !important; border-collapse: separate !important;}
.table-hours{width: 45% !important;max-width: 99% !important; border: 1px solid #000 !important; border-collapse: separate !important; font-size:10px;}
.reject{background-color: #ea9b9b;}
.ed-btn{padding:0px 10px !important;}
.approve{background-color: #D3D3D3;}
.btn-circle {border-radius: 30px !important;outline:0 !important;}
.check-all{padding: 0px 7px !important;}
.ar-btn{height:25px;}
.grouping{margin-top:5px;}
.hours-name{text-align:left!important;}
.ttlhrs{float:right;}
#endDate{background-color: #ffff00;color: #000;padding:3px;}
.headercolor{background-color: #6e91bb; color:#fff;}
.Add{margin-left:10px;}
.ticket-td>tbody>tr>td{vertical-align:middle !important;}
/* dropdown Submenu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-approve{
	display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
body {
    font-size: 12px !important;
   }
.btn-script{width: 83px;height: 30px;padding: 0px 0px !important;margin: -7px 0px !important;}
.export-import{margin-bottom: 0px !important;text-align: center !important;}
.hr-line{margin-top: 14px !important; margin-bottom: 8px !important;}
.btn-dsqure{text-align:center;}
.msg-labors{padding: 18px 15px;}
.hours-drop{margin-left: 22px !important; }

/*For Mobile*/
@media only screen and (max-width: 500px) {
	/*body{background-color:red !important; }*/
	.com-name{font-size: 12pt;}
	.tables {border:1px solid #ccc !important; } 
  	.fRight {width: 30%;}
  	.col-xs-4 {width: 50.333333% !important;}
  	.table-reims>tbody>tr>td{text-align:left !important;}	
}
/* For Tablet*/
@media screen and (min-width:501px) and (max-width:999px) {
	/*body{background-color:green !important;}*/
    .tables {border:1px solid #ccc !important; } 
    .col-xs-4 {width: 50.333333% !important;}
    .table-reims>tbody>tr>td{text-align:left !important;}
      .reims-btn{  margin: 0 0 0 37%;  }
}	
